@import "variables";
/* 
------------------------------ 
COLORS
------------------------------ 
*/

.palette {
  font-size: 12px;
  line-height: 1.214;
  color: #ffffff;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
}
.palette dt,
.palette dd {
  line-height: 1.429;
}
.palette dt {
  display: block;
  font-weight: bold;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.palette dd {
  font-weight: 300;
  margin-left: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-font-smoothing: subpixel-antialiased;
}
.palette-turquoise {
  background-color: #32BCAD;
}
.palette-turquoise-dark {
  background-color: #069F8E;
}
.palette-red {
  background-color: #F05B55;
}
.palette-red-dark {
  background-color: #C8493D;
}
.palette-orange {
  background-color: #F69332;
}
.palette-orange-dark {
  background-color: #D4752E;
}
.palette-yellow {
  background-color: #FFCA06;
}
.palette-yellow-dark {
  background-color: #E4A212;
}
.palette-ygreen {
  background-color: #A5CD38;
}
.palette-ygreen-dark {
  background-color: #73A433;
}
.palette-green {
  background-color: #4BAE45;
}
.palette-green-dark {
  background-color: #3B9239;
}
.palette-blue {
  background-color: #32B4E8;
}
.palette-blue-dark {
  background-color: #148EB2;
}
.palette-purple {
  background-color: #9564A4;
}
.palette-purple-dark {
  background-color: #76528A;
}
.palette-grey {
  background-color: #BBBDBF;
}
.palette-grey-dark {
  background-color: #929497;
}
.palette-charcoal {
  background-color: #6D6E70;
}
.palette-charcoal-dark {
  background-color: #404041;
}
.palette-clouds {
  color: #bdc3c7;
}
.palette-paragraph {
  color: #7f8c8d;
  font-size: 12px;
  line-height: 17px;
}
.palette-paragraph span {
  color: #bdc3c7;
}
.palette-headline {
  color: #7f8c8d;
  font-size: 13px;
  font-weight: 700;
  margin-top: -3px;
}
