/* 
------------------------------ 
SIDEBAR
------------------------------ 
*/


.sidebar-header{
background-color:#BBBDBF;
border-top-left-radius:6px;
border-top-right-radius:6px;
padding-left:12px;
padding-right:12px;
padding-top:8px;
padding-bottom:8px;
}

.sidebar{
background-color:#fff;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
padding:12px;
}

.sidebar p{
margin:0px;
}