{{render "navigation"}}
<main {{bind-attr class="onHomeRoute:on-home-route :container"}}>
  <div id="main-outlet-row" class="row">
    {{ outlet }}
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 footer-title">
        <p>
          <a href="https://docs.google.com/forms/d/1KQTcjXqFLWhFnTKnaV7_MZxsq7gyro--1r_UvXHT_q4/viewform"
             target="_blank" class="btn-lg btn-grey">
            Submit Feedback
          </a>
          <br />
          <br />
          Interactive Media Capstone 2014
          <br />
          Northeastern University
          <br />
          WeTeam supports Chrome and Firefox
        </p>
      </div>
    </div>
  </div>
</footer>