{{render "navigation"}}
<main class="container">
  <div class="row">
    {{ outlet }}
  </div>
</main>
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 footer-title">
                <p>Interactive Media Capstone 2014<br />Northeastern University</p>
          </div> <!-- /col-xs-7 -->
          </div>
        </div>
      </div>
    </footer>
