  {{render "navigation"}}
<main class="container">
  <div class="row">
    {{ outlet }}
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 footer-title">
        <p>
          <a href="https://docs.google.com/forms/d/1KQTcjXqFLWhFnTKnaV7_MZxsq7gyro--1r_UvXHT_q4/viewform"
             target="_blank" class="btn-lg btn-grey">
            Submit Feedback
          </a>
          <br />
          <br />
          Interactive Media Capstone 2014
          <br />
          Northeastern University
        </p>
      </div>
    </div>
  </div>
</footer>