  <h2>{{getFullTitle}}</h2>
  <ul style="width=100%;">
    <div style="display:block;">
      <li>Project:
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              {{#each project in projects}}
                <li><a href="#">{{project.title}}</a></li>
              {{/each}}
            </ul>
          </div>
            <!-- Placeholder for Google Drive -->
        </li>
        <li>Edit Project</li>
        <li>Project Folder</li>
        <li>Email Class</li>
      </div>
      {{render "facultyProject" getSelectedProject}}
  </div>