<div class="row">
  <div class="col-md-4">
    Project:{{view Ember.Select
                   content=projects
                   optionValuePath="content"
                   optionLabelPath="content.title"
                   selection=selectedProject}}
  </div>
  <div class="col-md-5 faculty-project-nav">
    <div class="row pull-right">
      <button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>  Edit Project</button>
      {{!-- <button class="btn btn-default"><span class="glyphicon glyphicon-folder-open"></span>  Project Folder</button> --}}
      <a {{bind-attr href="emailHref"}} target="_blank"><button class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span>  Email Class</button></a>
    </div>
  </div>
</div>

{{render 'facultyProject' selectedProject}}