{{!-- <ul class="nav nav-tabs nav-justified">
  <li>Project:
    {{view Ember.Select
           content=projects
           optionValuePath="content"
           optionLabelPath="content.title"
           selection=selectedProject}}
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li><button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>  Edit Project</button></li>
  <li><button class="btn btn-default"><span class="glyphicon glyphicon-folder-open"></span>  Project Folder</button></li>
  <li><button class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span>  Email Class</button></li>
</ul> --}}

<div class="row">
  <div class="col-md-4">
    Project:{{view Ember.Select
                   content=projects
                   optionValuePath="content"
                   optionLabelPath="content.title"
                   selection=selectedProject}}
  </div>
  <div class="col-md-1">Test 2 Columns</div>
  <div class="col-md-5">
    <div class="row pull-right">
      <button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>  Edit Project</button>
      <button class="btn btn-default"><span class="glyphicon glyphicon-folder-open"></span>  Project Folder</button>
      <button class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span>  Email Class</button>
    </div>
  </div>
</div>


{{#with selectedProjectVal}}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>Group Name</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {{title}}
      {{#each projectGroup in projectGroups}}
        {{render "facultyProjectGroup" projectGroup}}
      {{/each}}
    </tbody>
  </table>
{{/with}}