<form role="form" class="form-horizontal">
  {{partial "subtaskPartial"}}
  <div class="col-lg-3">
    <button {{action saveSubtask}} type="button" class="btn btn-default">Save</button>
    <button {{action cancelEdit}} type="button" class="btn btn-default">Cancel</button>
  </div>
</form>