<tr>
  <td>{{name}}</td>
  <td>
    <div class="progress">
      <div class="progress-bar" {{bind-attr style="progressBarStyle"}}></div>
    </div>
  </td>
  <td><a {{bind-attr href="emailHref"}} target="_blank"><button type="button" class="btn btn-default" style="float:right;"><span class="glyphicon glyphicon-envelope"></span>  Email Group</button></a></td>
</tr>