
  {{title}}
  {{!--
<table class="table table-striped">
  <thead>
    <tr>
      <td>{{title}}</td>
      <td>Status</td>
      {{debugger}}
      <td></td>
    </tr>
  </thead>
  <tbody>
    {{#each projectGroup in projectGroups}}
      {{render "facultyProjectGroup" projectGroup}}
    {{/each}}
  </tbody>
</table>

--}}