<ul class="nav nav-pills nav-justified">
  {{#each course in controller}}
    {{#if selectedCourse}}
      <li>{{course.title}}</li>
    {{else}}
      <li>{{course.title}}</li>
    {{/if}}
  {{/each}} 
</ul>