<tr>
  <td>{{name}}</td>
  <td>
    <div class="progress">
      <div class="progress-bar" style="width:60%;"></div>
    </div>
  </td>
  <td><button type="button" class="btn btn-default" style="float:right;"><span class="glyphicon glyphicon-envelope"></span>  Email Group</button></td>
</tr>