<div class="panel panel-default">
	<div class="sidebar-header"><h2>Group members</h2></div>
	<div class="newsfeed panel-body">
  {{render "groupMember" auth.currentUser}}
	{{#each member in controller}}
		{{render "groupMember" member}}
	{{/each}}
</div>
</div>