<div class="panel panel-default">
	<div class="sidebar-header"><h2>Group Members</h2></div>
	<div class="newsfeed panel-body">
  {{#if auth.currentUser.isStudent}}
    {{render "groupMember" auth.currentUser}}
  {{/if}}
	{{#each member in controller}}
		{{render "groupMember" member}}
	{{/each}}
</div>
</div>