<div><span class="glyphicon glyphicon-user"></span>{{fullName}}</div>
<div class="progress">
	<div {{bind-attr class="progressBarClass :group-member-progress :progress-bar"}} 
       {{bind-attr style="progressBarStyle"}}></div>
</div>