<div><span class="glyphicon glyphicon-user"></span>{{fullName}}</div>
<div class="progress">
	<div {{bind-attr class="getProgressBarClass :group-member-progress :progress-bar"}} {{bind-attr style="getProgressBarStyle"}}></div>
</div>