<h1 class="text-center"> <center>Easy Group App</center></h1>
<p class="text-center">Making group projects easier since 2013. </p>

<table align="center">
  
<tr>
    <td>
<div class="studentsLogin text-center">


{{#link-to 'studentLogin' }}<img src="http://t3.gstatic.com/images?q=tbn:ANd9GcT5_Ub-0y5wIoInP7e7r3lzi8-uG1ddRHKexUeRdmKYW1yzf2Sa6Q"   width="200" height="250"/>{{/link-to}}
   

<p class="text-info">
{{#link-to 'studentLogin' }}Students{{/link-to}}
</p>
</div>
</td>
    
    
<td>

<div class="facultyLogin text-center">

{{#link-to 'teacherLogin' }} <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcT5_Ub-0y5wIoInP7e7r3lzi8-uG1ddRHKexUeRdmKYW1yzf2Sa6Q"  width="200" height="250"/> {{/link-to}}


<p class="text-info">
{{#link-to 'teacherLogin' }}Faculty{{/link-to}}
    </p>
</div>
</td>
</tr>

</table>



