<div class="lp clearfix">
<div class="landing-page" id="page-1">
  <div class="col-md-6">
    <h1>WeTeam is a project-management tool that fosters collaboration and increases motivation.</h1>
    </br>
    <div class="subhead">Through our own experiences and a survey of 195 students, we have found that group projects are broken: organization is diﬃcult, individuals never have an equal amount of work, and everyone receives the same grade.</div>
    </br>
	<p><em>Northeastern Interactive Media Capstone Project 2014</em></p>
  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-3">
    <img class="pyramid clearfix" src="/assets/landing-page/pyramid.png">
  </div>
</div>
        
<div class="landing-page" id="page-2">
  <div class="col-md-5">
    <h2>Product</h2>
    </br>
    <p>WeTeam provides project management tools for organization and communication, encourages motivation and collaboration between students, and increases transparency amont students and faculty.</p>
  </div>
  <div class="col-md-3">
  </div>
</div>
        
<div class="landing-page" id="page-3">
  <div class="col-md-5">
    <h2>Signifcant Research Results</h2>
    </br>
    <p>Students are most frustrated when certain  group members not doing their work. Unexpectedly, 0 of the 195 students surveyed felt that “earning their grade” was most important when it came to group projects. Faculty interviews revealed that teachers do not have time to check in with groups.</p>
  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-4">
    <img class="survey" src="/assets/landing-page/survey.jpg">
  </div>
</div>
		
<div class="landing-page" id="page-4">
  <div class="col-md-5">
    <h2>Concept</h2>
    </br>
    <p>Our concept is a website to facilitate group projects. Faculty users create and monitor group projects, define project goals, and assign groups. Students can then create, assign, complete, dispute, and comment on tasks.</p>
  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-4">
    <img class="concept-flow" src="/assets/landing-page/concept-flow.jpg">
  </div>
</div>

<div class="landing-page" id="page-5">
  <div class="col-md-12">
    <h2>Our Team</h2>
    </br>
  </div>
  </br>  
  
  <ul class="our-team-members">
  	<li>
    	<div class="team-member-image">&nbsp;</div>
    	<p>Craig Berry</p>
    	<p><em>Development</em></p>
  	</li>
  
	<li>
		<div class="team-member-image">&nbsp;</div>
    	<p>Matt Gowie</p>
    	<p><em>Development</em></p>
  	</li>
  
  	<li>
    	<div class="team-member-image">&nbsp;</div>
    	<p>Maple Kuo</p>
    	<p><em>Design</em></p>
  	</li>
  
  	<li>
    	<div class="team-member-image">&nbsp;</div>
    	<p>Nicole Nussbaum</p>
    	<p><em>Design</em></p>
  	</li>

	<li>
	    <div class="team-member-image">&nbsp;</div>
    	<p>Sarah Park</p>
    	<p><em>Design</em></p>
 	</li>
  
  	<li>
	    <div class="team-member-image">&nbsp;</div>
    	<p>John Reardon</p>
    	<p><em>Design</em></p>
  	</li>
  
  	<li>
    	<div class="team-member-image">&nbsp;</div>
    	<p>Mark Sivak</p>
    	<p><em>Advisor</em></p>
  </li

</div>

</div>







