<div class="jumbotron text-center">
  <h1>WeTeam</h1>
  <p>Making group projects easier since 2013.</p> 

  <br>

  <table align="center"> 
    <tr>
      <td>
        <div class="studentsLogin text-center">
          {{#link-to 'studentLogin' }}
           <i class="fa fa-user login-silhouette"></i>
          {{/link-to}}
          {{#link-to 'studentLogin' }}
            <div class="btn btn-primary btn-lg" role="button">
              <span style="color:white;">Students</span>
            </div>
          {{/link-to}}
        </div>
      </td>
      <td>
        <div class="facultyLogin text-center">
          {{#link-to 'teacherLogin' }}
           <i class="fa fa-user login-silhouette"></i>
          {{/link-to}}
          {{#link-to 'teacherLogin' }}
            <div class="btn btn-primary btn-lg" role="button">
              <span style="color:white;">Faculty</span>
            </div>
          {{/link-to}}
        </div>
      </td>
    </tr>
  </table>
</div>










