<div class="lp">
<div class="landing-page" id="page-0">
  <div class="col-md-5">
    <h1>WeTeam is a project-management tool that fosters collaboration and increases motivation.</h1>
    </br>
    <p>Through our own experiences and a survey of 195 students, we have found that group projects are broken: organization is diﬃcult, individuals never have an equal amount of work, and everyone receives the same grade.</p>
    </br>
	<p><em>Northeastern Interactive Media Capstone Project 2014</em></p>
  </div>
  <div class="col-md-2">
    &nbsp;
  </div>
  <div class="col-md-3"><div class="clearfix">
    <img class="pyramid" src="/assets/landing-page/pyramid.png">
    </div>
  </div>
</div>

<div class="landing-page" id="page-1">
<div class="col-md-4">
<img src="/assets/landing-page/green-check.png" style="width:50px; height=auto;">
<h2>Instant Satisfaction</h2>
<p>Mark your tasks as complete, and see your progress bars fill up</p>
</div>

<div class="col-md-4">
<img src="/assets/landing-page/yellow-check.png" style="width:50px; height=auto;">
<h2>Simple and Visual</h2>
<p>With color coding for team members, see instantly who is doing their share of the work, and who isn't</p>
</div>

<div class="col-md-4">
<img src="/assets/landing-page/purple-check.png" style="width:50px; height=auto;">
<h2>Collaboration</h2>
<p>Check in with your teammates, assign each other tasks, and communicate with each other</p>
</div>

</div>

<div class="landing-page" id="page-2">
  <div class="col-md-4">
    <h2>Product</h2>
    </br>
    <p>WeTeam provides project management tools for organization and communication, encourages motivation and collaboration between students, and increases transparency amont students and faculty.</p>
    <ul>
  	<li>A team progress bar tracks how much each person has contributed to the project.</li>
  	<li>Students can see each group member’s contact information and when they last logged in.</li>
  	<li>To facilitate communication, students can comment on tasks.</li>
	<li>Individual progress bars show the amount of work each student has completed.</li>
	<li>Completed tasks are stored and can be referred to at any time.</li>
	<li>Students can choose to dispute a task if it hasn’t been completed properly.</li>
 	</ul>
 </div>
 
 <div class="col-md-1">
	&nbsp;
 </div>
  
  <div class="col-md-7">
      <img class="product" src="/assets/landing-page/product.png" style="width:100%; height:auto;">
  </div>
</div>
        
<div class="landing-page" id="page-3">
  <div class="col-md-6">
    <img class="survey" src="/assets/landing-page/survey.jpg">
  </div>
  <div class="col-md-1">
	&nbsp;	
  </div>
  <div class="col-md-5">
    <h2>Signifcant Research Results</h2>
    </br>
    <p>Students are most frustrated when certain  group members not doing their work. Unexpectedly, 0 of the 195 students surveyed felt that “earning their grade” was most important when it came to group projects. Faculty interviews revealed that teachers do not have time to check in with groups.</p>
  </div>
  
</div>
		
<div class="landing-page" id="page-4">
  <div class="col-md-5">
    <h2>Concept</h2>
    </br>
    <p>Our concept is a website to facilitate group projects. Faculty users create and monitor group projects, define project goals, and assign groups. Students can then create, assign, complete, dispute, and comment on tasks.</p>
  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-6">
    <img class="concept-flow" src="/assets/landing-page/concept-flow.jpg">
  </div>
</div>

<div class="landing-page" id="page-5">
  <div class="col-md-12">
    <h2>Our Team</h2>
    </br>
  </div>
  </br>  
  
  <ul class="our-team-members">
  	<li>
    	<div class="team-member-image"><img src="/assets/landing-page/craig.png"></div>
    	<p>Craig Berry</p>
    	<p><em>Development</em></p>
  	</li>
  
	<li>
		<div class="team-member-image"><img src="/assets/landing-page/matt.png"></div>
    	<p>Matt Gowie</p>
    	<p><em>Development</em></p>
  	</li>
  
  	<li>
    	<div class="team-member-image"><img src="/assets/landing-page/maple.png"></div>
    	<p>Maple Kuo</p>
    	<p><em>Design</em></p>
  	</li>
  
  	<li>
    	<div class="team-member-image"><img src="/assets/landing-page/nicole.png"></div>
    	<p>Nicole Nussbaum</p>
    	<p><em>Design</em></p>
  	</li>

	<li>
	    <div class="team-member-image"><img src="/assets/landing-page/sarah.png"></div>
    	<p>Sarah Park</p>
    	<p><em>Design</em></p>
 	</li>
  
  	<li>
	    <div class="team-member-image"><img src="/assets/landing-page/john.png"></div>
    	<p>John Reardon</p>
    	<p><em>Design</em></p>
  	</li>
  
  	<li>
    	<div class="team-member-image"><img src="/assets/landing-page/mark.png"></div>
    	<p>Mark Sivak</p>
    	<p><em>Advisor</em></p>
  </li

</div>

</div>







