<div class="lp">
<div class="landing-page clearfix" id="page-0">
<div class="container">
  <div class="col-md-5">
    <h1>WeTeam is a group project management tool that fosters collaboration and increases motivation.</h1>
    </br>
    <p>Group projects aren’t as effective as they could be. Through a survey of over 200 college students, we found that organization is difficult, individuals never have an equal amount of work, and that most students receive the same grade even if they do equal amounts of work.</p>
    </br>
	<p><em>Northeastern Interactive Media Capstone 2014</em></p>
  </div>
  <div class="col-md-2">
    &nbsp;
  </div>
  <div class="col-md-5">
    <img class="pyramid" src="/assets/landing-page/pyramid.png">
  </div>
</div>
</div>

<div class="landing-page clearfix" id="page-1">
  <div class="container">
    <div class="col-md-4">
    <img src="/assets/landing-page/green-check.png" style="width:50px; height=auto;">
    <h2>Instant Satisfaction</h2>
    <p>Mark your tasks as complete and see your progress bars fill up.</p>
    </div>

    <div class="col-md-4">
    <img src="/assets/landing-page/yellow-check.png" style="width:50px; height=auto;">
    <h2>Simple and Visual</h2>
    <p>Each team member is assigned a color so you can instantly see who is doing their share of the work – and who isn't.</p>
    </div>

    <div class="col-md-4">
    <img src="/assets/landing-page/purple-check.png" style="width:50px; height=auto;">
    <h2>Collaboration</h2>
    <p>View, assign, complete, dispute, and comment on tasks.</p>
    </div>
  </div>
</div>

<div class="landing-page clearfix" id="page-2">
<div class="container">
  <div class="col-md-5">
    <h2>Key Features</h2>
    </br>
    <ul>
  	<li>- A team progress bar tracks how much each person has contributed to the project.</li>
  	<li>- Students can see each group member’s contact information and when they last logged in.</li>
  	<li>- Students can comment on and dispute tasks.</li>
  	<li>- Individual progress bars show the amount of work each student has completed.</li>
 	</ul>
 </div>
 
 <div class="col-md-1">
	&nbsp;
 </div>
  
  <div class="col-md-6">
      <img class="product" src="/assets/landing-page/product.png">
  </div>
  </div>
</div>
        
<div class="landing-page clearfix" id="page-3">
<div class="container">
  <div class="col-md-5">
    <h2>Signifcant Research Results</h2>
    </br>
    <p>We found that students are most frustrated when group members don't do their share of the work. Unexpectedly, 0 of the 195 students surveyed felt that “earning their grade” was most important when it came to group projects. Faculty interviews revealed that teachers do not have time to check in with groups.</p>
  </div>
  <div class="col-md-1">
	&nbsp;	
  </div>
  <div class="col-md-6">
    <img class="survey" src="/assets/landing-page/survey.jpg">
  </div>
  </div>
</div>
		
<div class="landing-page clearfix" id="page-4">
<div class="container">
  <div class="col-md-5">
    <h2>Concept</h2>
    </br>
    <p>Our concept is a website to facilitate group projects and make them easier. Faculty members create and monitor group projects, define project goals, and assign groups. Students are then able to create, assign, complete, dispute, and comment on tasks.</p>
  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-6">
    <img class="concept-flow" src="/assets/landing-page/concept-flow.jpg">
  </div>
  </div>
</div>

<div class="landing-page clearfix" id="page-5">
<div class="container">
  <div class="col-md-12">
    <h2>Our Team</h2>

<div class="row1">
  <div class="team-bio">
    	<div class="team-member-image"><img src="/assets/landing-page/craig.png"></div>
    	<p>Craig Berry</p>
    	<p><em>Development</em></p>
  </div>

  <div class="team-bio">
		<div class="team-member-image"><img src="/assets/landing-page/matt.png"></div>
    	<p>Matt Gowie</p>
    	<p><em>Development</em></p>
  </div>
  
  <div class="team-bio">
    	<div class="team-member-image"><img src="/assets/landing-page/maple.png"></div>
    	<p>Maple Kuo</p>
    	<p><em>Design</em></p>
  </div>
  
  <div class="team-bio">
    	<div class="team-member-image"><img src="/assets/landing-page/nicole.png"></div>
    	<p>Nicole Nussbaum</p>
    	<p><em>Design</em></p>
  	</div>
    </div>


<div class="row2">
  <div class="team-bio">
	    <div class="team-member-image"><img src="/assets/landing-page/sarah.png"></div>
    	<p>Sarah Park</p>
    	<p><em>Design</em></p>
 	</div>
  
  <div class="team-bio">
	    <div class="team-member-image"><img src="/assets/landing-page/john.png"></div>
    	<p>John Reardon</p>
    	<p><em>Design</em></p>
  </div>
  
  <div class="team-bio">
    	<div class="team-member-image"><img src="/assets/landing-page/mark.png"></div>
    	<p>Mark Sivak</p>
    	<p><em>Advisor</em></p>
  </div>
  </div>
  </div>
</div>
</div>

</div>







