<div class="jumbotron text-center">
  <h1>Easy Group App</h1>
  <p>Making group projects easier since 2013.</p> 

  <br>

  <table align="center"> 
    <tr>
      <td>
        <div class="studentsLogin text-center">
          {{#link-to 'studentLogin' }}
            <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcT5_Ub-0y5wIoInP7e7r3lzi8-uG1ddRHKexUeRdmKYW1yzf2Sa6Q" width="200" height="250"/>
          {{/link-to}}
          {{#link-to 'studentLogin' }}
            <span class="btn btn-primary btn-lg" role="button">
              <span style="color:white;">Students</span>
            </span>
          {{/link-to}}
        </div>
      </td>
      <td>
        <div class="facultyLogin text-center">
          {{#link-to 'teacherLogin' }}
            <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcT5_Ub-0y5wIoInP7e7r3lzi8-uG1ddRHKexUeRdmKYW1yzf2Sa6Q" width="200" height="250"/>
          {{/link-to}}
          {{#link-to 'teacherLogin' }}
            <span class="btn btn-primary btn-lg" role="button">
              <span style="color:white;">Faculty</span>
            </span>
          {{/link-to}}
        </div>
      </td>
    </tr>
  </table>
</div>










