<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="brand">
        {{#link-to 'home' }} <img src="http://placekitten.com/150/75"> {{/link-to}}
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right navbar-text">
        {{#if isAuthenticated}}
          <li class="dropdown" id="project-nav-container">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Projects <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {{#each project in projects}}
                {{project-nav-item project=project name=project.title}}
              {{/each}}
            </ul>
          </li>
          <li><a id="logout-button" href="#" {{action logout}}> Logout </a></li>
        {{else}}
          {{#unless onSignupRoute}}
            <li>{{#link-to 'registration' }} Sign Up {{/link-to}}</li>
          {{/unless}}
        {{/if}}
    </ul>
  </div>
</nav>