<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<div class="brand">
				<img src="http://placekitten.com/150/75">
			</div>
		</div>
		<ul class="nav navbar-nav navbar-right navbar-text">
			{{#if currentUser.isSignedIn}}
			  Logged in as {{currentUser.email}}
			  {{#linkTo 'session.destroy'}}Logout{{/linkTo}}
			{{else}}
			  {{#linkTo 'user.new'}}Sign Up{{/linkTo}} |
			  {{#linkTo 'session.new'}}Login{{/linkTo}}
			{{/if}}
		</ul>
	</div>
</nav>