<form class="new-comment-form" {{action createComment on="submit"}}>
 	{{view Sis.TextAreaView valueBinding="body"}}
</form>
<a href="#" {{action createComment bubbles=false}}>
  <button type="button" class="btn btn-sm btn-grey">
    Add comment
  </button>
</a>