<li class="news-item clearfix" {{action "open"}}>
  <newsfeed class="newsfeed news-item">{{description}}</newsfeed>
  <newsfeed-time class="newsfeed-time news-item-time-ago">{{timeAgo}}</newsfeed-time>
  <hr>
</li>
<hr>

