<li class="news-item clearfix" {{action "open"}}>
	<newsfeed class="news-item-descript newsfeed news-item">{{description}}</newsfeed>
	<newsfeed-time class="news-item-time-ago newsfeed-time news-item-time-ago">{{timeAgo}}</newsfeed-time>
	<hr>
</li>
