<form role="form" class="form-horizontal new-subtask-form">
  {{partial "subtaskPartial"}}
  <div class="col-lg-3">
    <button {{action addNewTask target="view"}}
            type="button" 
            {{bind-attr class="userCanSave::disabled :btn :btn-primary :submit-new-subtask"}}>
            <i class="icon-plus"></i> Add Task</button>
    <button {{action cancelNewTask}} type="button" class="btn btn-default">Cancel</button>
  </div>
</form>