{{!-- Note: I know the below info is not staying here, but I know we'll need it somewhere.
      keeping it around for now... --}}
<h3> Project: {{title}} </h3>
<h3> Project Group: {{projectGroup.name}} </h3>
<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{render "currentUser" currentUser}}
    </div>
    <div class="panel-body">
      TODO: Tasks go here.
    </div>
  </div>
  
</div>
<div class="col-md-3">
  {{render "otherStudents" otherStudents}}
</div>