{{#if hasRequiredTasks}}
  {{#each required in controller}}
    {{render requiredTask required}}
  {{/each}}
{{else}}
<div class="panel panel-default">
  <div class="panel-body">
  	<h3>You have no tasks assigned to you.</h3>
  </div>
</div>
{{/if}}
