
<ul class="nav nav-pills nav-justified">
  {{#each course in courses}}
    {{!-- <li><a>{{course.title}}</a></li> --}}
    <li>{{view Sis.CourseNavView}}</li>
  {{/each}} 
</ul>
{{render 'course' selectedCourse}}

