
<div class="col-md-9">
  <ul class="nav nav-tabs nav-justified">
    asdh
    {{#each course in courses}}
    TESTING TESTING TESTING
    <li>{{course.title}}:{{course.code}}</li>
    {{/each}}dl
    <!--
    <li>Course 1: ABC2000</li>
    <li>Course 2: EFG1000</li>
    <li>Course 3: CS4700</li> 
    -->
  </ul>
  {{render "course" getSelectedCourse}}
</div>




