/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./vendor
 *= require_tree .
 */

@import "variables";

body {
  font-family: $font-family;
  h1,h2,h3,h4,h5,h6 {
  	font-family: $font-family;
  }
}
hr { border-color: #DDD; }

h1 { 
	font-weight: bold; 
}
h3 {
	color: #616161;
	font-size: 21px;
	margin-top: 5px;
	margin-bottom: 5px;
}
h4 {
	font-size: 16px;
}