@import "variables";

.group-container {
	margin-top: 53px;
}

.group-member-info-container {
  position: absolute;
  left: -150px;
  display: none;
  padding: 10px;
  color: white;
  background-color: $lightGrey;
  border-radius: $roundCorners;

  &.showing-group-member-info {
    display: block;
  }
}

.group-member-progress {
  background-image: none;
}

.group-member-0 {
  background-color: $orange;
}

.group-member-1 {
  background-color: $yellow;
}

.group-member-2 {
  background-color: $lightGreen;
}

.group-member-3 {
  background-color: $blue;
}

.group-member-4 {
  background-color: $purple;
}

.group-member-5 {
  background-color: $darkGreen;
}

// This is a bit of a hack, but I couldn't figure this out. You designers
// have fun though!
.task-count {
  position: absolute;
  text-align: right;
  width: 100%;
  right: 37px;
}