@import "variables";

.group-container {
	margin-top: 53px;
}

.group-member-progress {
  background-image: none;
}

.group-member-0 {
  background-color: $darkOrange;
}

.group-member-1 {
  background-color: $lightOrange;
}

.group-member-2 {
  background-color: $lightGreen;
}

.group-member-3 {
  background-color: $lightBlue;
}

.group-member-4 {
  // Grabbed this one from the web cause I ran out.
  // I'm not attached to it. Feel free to change.
  background-color: #006B75;
}

// This is a bit of a hack, but I couldn't figure this out. You designers
// have fun though!
.task-count {
  position: absolute;
  text-align: right;
  width: 100%;
  right: 37px;
}