.landing-page{
	width:100%;
	color:#ffffff;
	min-height:200px;
}	

#page-1{
	background-color: #32BCAD;
}

#page-2{
	background-color: #F69332;
}	

#page-3{
	background-color: #FFCA06;
}	

#page-4{
	background-color: #A5CD38;
}

#page-5{
	background-color: #32B4E8;
}