@import "variables";

$font-size: 20px;

.studentsLogin
{
font-size: $font-size;
width:250px;
padding:10px;
margin: auto;
}

.facultyLogin
{
font-size: $font-size;
width:250px;
padding:10px;
margin: auto;
}

.jumbotron {
	background-color:transparent;
}

.login-silhouette {
	font-size:200px;
	color:$charcoalDark;
}

.fui-checkbox-checked, .fui-checkbox-unchecked {
	span {
		display:none;
	}
}