hr {
  clear: both;
}

.panel-heading {
  background-color: red;
  a {
    float: right;
  }
}

.panel-body {
  .completed-container {
    .completed-action { 
      margin-bottom: 15px;
      float: right;
      font-size: 11px;
    }
  }
}

.task-filter-buttons {
  margin-bottom: 20px;
}

.subtask-container {
  list-style-type: none;
  
  .dispute {
    float: right;
    padding-right: 20px;
  }

  .date-container {
    padding-top: 7px;

    p {
      padding-left: 10px;
      background-color: #EBC5A4;
    }
  }

  .title-container {
    margin-bottom: -7px;
    .completed-checkbox {
      float: left;
      margin-top: 12px;
    }
    .subtask-title {
      margin-left: 20px;
    }
    .subtask-title.disputed {
      color: red;
    }
  }
}
.subtask-container:hover {
  background-color: #B0D5E8;
  cursor: pointer;
}

.edit-subtask-container {
  background-color: #DAECF5;
  height: 150px;
  padding-top: 10px;
  .col-lg-10 {
    margin-left: 15px;
    .control-label, .datepicker, .btn {
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
}

input[type="checkbox"] {
  font-size: 120%;
}

.comments-container, .edit-comments-container {
  float: left;
  clear: both;
  padding-left: 35px;
  a {
    font-size: 11px;
    color: #C2C2C2;
    float: left;
    padding-bottom: 5px;
  }
  .comment {
    .disputed {
      color: red;
    }
  }
}
.edit-comments-container {
  background-color: #DAECF5;
  margin-left: 0;
}