
.subtask-container {
  list-style-type: none;
  
  .dispute-icon {
    float: left;
  }

  .title-container {
    .completed-checkbox {
      float: left;
    }
    .subtask-title {
      margin-left: 20px;
    }
  }
}