
// Fonts
/////////
$font-family: "Proxima Nova", Calibri, Arial, sans-serif;

// Color Variables
///////////////////

// Teal color
$primary: #0EBCAE;

$darkOrange: #FDA44A;
$lightOrange: #FACD6C;
$lightGreen: #93CB62;
$lightBlue: #7FC4E7;