// Fonts
/////////
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600);
$font-family: "Open Sans", Calibri, Arial, sans-serif;

// Color Variables
///////////////////

// Primary color (turquoise)
$primary: #32BCAD;
$primaryDark: #069F8E;

$red: #F05B55;
$redDark: #C8493D;

$orange: #F69332;
$orangeDark: #D4752E;

$yellow: #FFCA06;
$yellowDark: #E4A212;

$green: #4BAE45;
$greenDark: #3B9239;

$ygreen: #A5CD38;
$ygreenDark: #73A433;

$blue: #32B4E8;
$blueDark: #148EB2;

$purple: #956DAF;
$purpleDark: #76528A;

$grey: #BBBDBF;
$greyDark: #929497;

$charcoal: #6D6E70;
$charcoalDark: #404041;


// Rounded Corners
///////////////////

$roundCorners: 3px;