
// Fonts
/////////
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600);
$font-family: "Open Sans", Calibri, Arial, sans-serif;

// Color Variables
///////////////////

// Teal color
$primary: #32BCAD;

$red: #F15B4E;
$orange: #F99D1B;
$yellow: #F7C943;
$lightGreen: #8DC63F;
$darkGreen: #4EB857;
$blue: #3CB4E7;
$purple: #956DAF;
$lightGrey: #BCBEC0;
$darkGrey: #333333;