!!!
%html
  %head
    %title WeTeam
    / [if lt IE 9]
      %script{ src: "http://html5shim.googlecode.com/svn/trunk/html5.js", type: "text/javascript" }
    - if Rails.env.production?
      %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
      %meta{ name: "signet:authors", content: "Matt Gowie"}
      %meta{ name: "signet:links", content: "http://github.com/Gowiem, http://twitter.com/Gowiem, http://gowie.me"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel=>"stylesheet"}
    - if user_signed_in?
      %meta{ name: "current-user", content: "#{serialized_user}" }
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %main.container

      / Yield brings in the currently rendered view, which in our case will 
      / only be the devise authentication views (sign in, sign up, ect.)
      / Note: Ember will input it's application.handlebars template outside 
      / of this container directly under this yield.
      / = yield
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-49252031-1', 'weteam.herokuapp.com');
      ga('send', 'pageview');

